// ================================
// 自定义变量
// ================================

$font-size: 16px;
$font-family-base: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;

// 颜色变量
$theme: rgb(253, 203, 47); // 吾友APP主题色
$body-bg: rgb(241, 242, 244); // 页面背景色
$content-bg: rgb(255, 255, 255); // 内容的背景色
$text-color: rgb(0, 0, 0); // 基本文字颜色
$small-text: rgb(180, 180, 180); // 小文字颜色（时间、用户名）
$btn-text: rgb(253, 156, 0) // 亮显按钮文字颜色
