@import './_mixins.scss';
@import "./reset.scss";
// ================================
// 全局样式
// ================================
body {
  background: $body-bg;
}

#app {
  min-height: 100%;
}

.page-content {
  padding-top: 0.94rem;
  min-width: 1200px;
  height: 100%;
  margin: auto;
}

.page-inner {
  width: 12rem;
  margin: auto;
}

#pureFullPage .nav {
  z-index: 100;
}

.Breadcrumb {
  font-size: 0.16rem;
  color: #004033;
}

.el-dropdown-menu {
  min-width: 1.2rem;
  .el-dropdown-menu__item {
    text-align: center;
    font-size: 0.16rem;
  }
  .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #36A27B;
    color: #FFFFFF;
    opacity:0.5;
  }
}
